apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: nimble-platform
    name: marmotta-backend
  name: marmotta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nimble-platform
      name: marmotta
  strategy:
    type: Recreate
  revisionHistoryLimit: 5
  template:
    metadata:
      labels:
        app: nimble-platform
        name: marmotta
    spec:
      imagePullSecrets:
        - name: bluemix-default-secret
      restartPolicy: Always
      containers:
      - image: registry.eu-gb.bluemix.net/nimble/marmotta-backend-kube
        imagePullPolicy: Always
        name: marmotta
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 200m
            memory: 256Mi

---

kind: Service
metadata:
  name: marmotta
  labels:
    app: nimble-platform
    name: marmotta
spec:
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: nimble-platform
    name: marmotta